
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 15px -7px gray;
    margin: 1rem;
    border-radius: 12px;
    padding: 10px 5px;
    color: white;

    & img {
        width: 200px;
        height: 50%;
        margin-bottom: 1rem;
    }
    & h3 {
        font-size: 1.5rem;
        line-height: 0;
    }
    & h4 {
        font-size: 1.2rem;
        line-height: 1;
    }
}